.swp
.php~
stats/
errors/
deploy.sh
upload/
uploads/
stats/*
bitrix/html_pages/
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/tmp/
bitrix/js/
bitrix/backup/
bitrix/stats/
bitrix/.settings.php
bitrix/php_interface/dbconn.php
bitrix/php_interface/.#dbconn.php
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
bitrix/themes/.default/modules.css
logs/
vendor
*.sql
*.log
upload.tgz
.idea/*
.vscode/*
static/*
.sass-cache/*
*.iml
.htaccess
.htaccess.swp
.htpasswd
bower.json
.bowerrc
robots.txt
node_modules
coral_log.txt
local/Asteq/cookie.txt
.DS_Store
local/js/asteq/node_modules
mortgage/tmp_file.pdf